@media only screen and (max-width: 859px) {
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }
    nav {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto;
    }
    .back-video{
        right: 0;
        top: 0;
        left: 0;
        width: 100%;
        margin: auto ;
    }
    
    .dropdown-icon {
        font-size: 40px;
        margin-left: 20px;
        z-index: 1;
    }
    .image-logo {
        margin: auto auto;
        z-index: 1;
    }
    button {
        width: 117px ;
        border-radius: 27px;
        cursor: pointer;
        line-height: 2px solid red;
        background-color: #FFFFFF;
        color: #B01630;
        padding: 6px 8px;
        font-size: 16px;
        font-weight: bold;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #423333;
        z-index: 1;
        padding-top: 88px;
        padding-bottom: 40px;
        margin-bottom: 0;
        width: 100vw;  
        top: -22px;
        
    }
    .dropdown-content li {
        list-style: none;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 700;
        padding: 20px 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .dropdown-content li:hover{
        color: gray;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-content-desktop li {
        display: none;
    }
    
    .btn-container {
        margin-right: 20px;
        z-index: 1;
    }
    
}


/*DESKTOP*/
@media screen and (min-width: 860px) {
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        /*display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 75vh;
        position: relative;*/
    }
    nav {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px auto;
    }
    .back-video {
        right: 0;
        top: 0;
        left: 0;
        width: 100%;
        margin: auto ;
    }
    .dropdown{
        display: none;
    }
    .dropdown-content-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dropdown-content-desktop li {
        font-family: Livvic-semi;
        list-style: none;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        padding: 20px 30px;
    }
    
    button {
        width: 117px ;
        border-radius: 27px;
        cursor: pointer;
        line-height: 2px solid red;
        background-color: #FFFFFF;
        color: #B01630;
        padding: 6px 8px;
        font-size: 16px;
        font-weight: bold;
    }
    .image-logo{
        margin-left: 25px;
        width: 15%;
    }
    .btn-container {
        margin-right: 25px;
    }

}