@media only screen and (max-width: 859px) {
    h2, h1 {
        text-transform: uppercase;
        font-family: Boldness;
        font-size: 35px;
        font-weight: lighter;
        color: #FFFFFF;
    }
    p {
        font-family: Livvic;
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
    }
    .first-para {
        font-size: 18px;
    }
    b {
        font-family: Livvic-semi;
        font-weight: bolder;
    }
    .parallax-image-container {
        position: relative;
        width: 100%;
    }
    .parallax-image {
        width: 100%;
        position: relative;
    }
    h1 {
        position: absolute;
        left: 25%;
        right: 0;
        bottom: 24%;
        width: 100%;
    }
    .parallax-second {
        margin: 8px auto;
    }
    .parallax-three {
        width: 70%;
    }
    .menu {
        display: flex;
        justify-content: flex-start;
    }
    .menu-three {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .menu-four {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .parallax-four {
        font-size: 33px;
        
    }
    
}