.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@font-face {
  font-family: 'Boldness';
  src: url(/src/Assets/Fonts/Boldness.otf) format('opentype');
}
@font-face {
  font-family: 'Boldness-outline';
  src: url(/src/Assets/Fonts/Boldness-Outline.otf) format('opentype');
}
@font-face {
  font-family: 'Livvic';
  src: url(/src/Assets/Fonts/Livvic-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Livvic-semi';
  src: url(/src/Assets/Fonts/Livvic-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Helvetica-regular';
  src: url(/src/Assets/Fonts/Helvetica.ttf) format('truetype');
}
@font-face {
  font-family: 'Helvetica-condensed';
  src: url(/src/Assets/Fonts/Helvetica-Black.ttf) format('truetype');
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
